* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#small, #medium, #large{
    display: block;
}

@media only screen and (max-width: 300px) {
    body {
        background-color: red;
        display: flex;
        flex-direction: column;
    }
    #small{
        display: block;
    }
    h1 {
        text-align: center;
        margin-bottom: 10px;
    }
    p {
        margin-left: 10px;
        margin-right: 10px;
    }
}
    
@media only screen and (min-width: 300px) and (max-width:768px){
    body{
        background-color: green;
    }
    #small{
        width: 66.6%;
    }    
    #medium{
        display: block;
        width: 33.3%;
    }
    #large{
        width: 100%;
    }
    h1 {
        text-align: center;
        margin-bottom: 10px;
    }
    p {
        margin-left: 10px;
        margin-right: 10px;
    }
}
@media only screen and (min-width: 768px){
    body{
        background-color: blue;
        display: flex;
        flex-direction: row;
    }
    #large{
        display: block;
    }
    h1 {
        text-align: center;
        margin-bottom: 10px;
    }
    p {
        margin-left: 10px;
        margin-right: 10px;
    }
}